# Not sending Dample Images to server
/Database/Samples/
/Database/Samples1

/Authentication/
# Not sending Dample Images to server
/Database/Samples/
/Database/Samples1

/Database/Trained_Modal/TrainedData.yml
/Tests/TrainedData1.yml

/Authentication/
